<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h1>歡迎光臨，請註冊登入系統</h1>
    <form action="/signup" class="userForm" method="post">
        <h2>註冊帳號</h2>
        <div class="userInput">
            <label for="signUpName">姓名</label>
            <input type="text" name="signupName">
        </div>
        <div class="userInput">
            <label for="signUpAccount">帳號</label>
            <input type="text" name="signupAccount">
        </div>
        <div class="userInput">
            <label for="signUpPassword">密碼</label>
            <input type="password" name="signupPassword">
        </div>
        <button>註冊</button>
    </form>

    <hr>

    <form action="/signin" class="userForm" method="post">
        <h2>登入系統</h2>
        <div class="userInput">
            <label for="signInAccount">帳號</label>
            <input type="text" name="signinAccount">
        </div>
        <div class="userInput">
            <label for="signInName">密碼</label>
            <input type="password" name="signinPassword">
        </div>
        <button>登入</button>
    </form>     
</body>
</html>