/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

/* img css reset可避免使用者上傳解析度太大的圖片，導致破版 */
img { 
	/* 適應 & 伸縮 */
	max-width: 100%; 
	/* 適應 & 伸縮 */
	height: auto;
	/* 圖片會預留 2-3px 在下面 */
	vertical-align: middle; 
	object-fit: cover;
}

.header {
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding-left: 1%;
	padding-right: 1%;
	height: 40px;
}

.item li {
    float: left;
}

.item a {
    display: block;
	text-decoration: none;
	color: black;
	padding: 5px;
}

.menu {
	width: 30px;
	height: 30px;
	margin-left: 15px;
	display: none;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background-color: #aeccf2;
	margin-bottom: 20px;
	text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.content {
	display: flex; 
	justify-content: space-between;
	flex-wrap: wrap;
}

.content li {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 24%;
	/* background-color: red; */
}

/* 如果最后一行是 2 個元素 */
.content li:last-child:nth-child(4n - 2){
    margin-right: calc(48% + 4% / 3 * 2);
}

.adjustPic {
    width:100%;
    height:0;
    padding-bottom: 75%;
    overflow:hidden; 
    background-position:center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.content li p {
	padding: 8px 0px;
	background-color:#aeccf2;
	text-align: center;
	/* 自動把剩下的空間填滿 */
	flex: auto; 
}

.loadBtn {
	padding: 5px 5px;
	margin-bottom: 15px;
}

/* 小於等於 1200 */
@media (max-width: 1200px) {
	.container {
		/* background-color: yellow; */
		width: 90%;
	}

	.content li {
		width: 49%;
		/* background-color: red; */
	}

	.content li:last-child:nth-child(4n - 2){
		margin-right: 0%;
	}
} 

/* 小於等於 600 */
@media (max-width: 600px) {
	.item {
        /* flex-direction: column; */

		max-height: 0px;
        overflow: hidden;

        transition: max-height 0.5s;

		/*絕對定位疊在網頁上*/
		position: absolute;
		z-index: 100;
		/*header 40px*/
		top: 40px;
		left: 0;
		right: 0;
        background:lightyellow;
	}

    .item li{
        float: none;
        border-bottom: 1px dashed grey;
    }

    .item li a{
        padding: 10px 5px;
        transition: all 0.1s;
    }

    .item li a:hover{
        background: white;
    }

	.menu {
		display: block;
		float: right;
	}

    /*jQ點擊後動態在 body 加上 class */
    .menu-show .item{
        max-height: 300px
    }

	.content {
		justify-content: center;
	}

	.content li {
		width: 99%;
	}

}

